@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --black: #1B1722;
    --white: #f2e8b9;
    /* background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png"); */
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

*{
    font-family: 'Quicksand', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
font-size: 62.5%;   
overflow-x: hidden;
scroll-padding-top: 7rem;
scroll-behavior: smooth;
}

html::-webkit-scrollbar{
width: .8rem;
}

html::-webkit-scrollbar-track{
background: transparent;
}

html::-webkit-scrollbar-thumb{
background-color: var(--white);
border-radius: 5rem;
}

/*header starts here*/
.header{
    top: 0;right: 0;left: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;
}

.header .logoContent{
    display: flex;
    align-items: center;
}

.header .logoContent .logo img{
    height: 4rem;
}

.header .logoContent .logoName{
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
}

.header .logoName{
    padding-left: 10px;
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
}

.header .navbar a:hover{
    border-bottom: .1rem solid var(--black);
    padding-bottom: .4rem;
}

.header .icon i{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--black);
    cursor: pointer;
}
/*header ends here*/
body{
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
    margin-top: 70px;
    font-size: larger;
    padding-top:80px;
}
.container {
    display: flex;
    align-items: center;
  }
  table {
    font-size: x-large;
    margin-top: 2rem;
    width: 80%;
    text-align: center;
  }